.box{
    margin-top: 12rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    width: 70rem;
    position: absolute;
    left:13rem
}
.text{
    position:absolute;
    top: 12rem;
    left:39rem;
  }

.form{
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.form-2{
    display: flex;
    gap: 16px;
    margin-left: 20rem;
    margin-top: 3rem;
}
.btn-2{
    position: absolute;
    top:35rem;
    right: 22rem;
}
.btn-2 button{
    border-radius: 1rem;
    padding: 7px 25px;
    background-color: #04aa6d;
    border-color: #04aa6d;
    color: white;
}
